<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarkDownEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkDownEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <MarkDownEditor.Properties.Settings>
            <setting name="DefaultAccent" serializeAs="String">
                <value>Cobalt</value>
            </setting>
            <setting name="MarkdownProcessor" serializeAs="String">
                <value>Markdown</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEndOfLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightCurrentLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowColumnRuler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulerPosition" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </MarkDownEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MarkDownEditor.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>c04908c8581f4aa</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>acc5241d93749ac1cc3746be14b9fde0f4072aa6</value>
            </setting>
        </MarkDownEditor.Properties.Settings>
    </applicationSettings>
</configuration>
