<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define MarkDownEditor_TargetDir=$(var.MarkDownEditor.TargetDir)?>
  <Product Id="{2AF37E4D-580B-4CF0-AF5C-6CB26A553499}" Name="MarkDownEditor" Language="1033" Version="0.3.6" Manufacturer="Chen Guanzhou" UpgradeCode="5d30c639-0761-41c7-b4ef-e0c1b75eeb3f">
    <Package Id="{858655DC-1061-4319-BD09-C791DFD23B81}" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="MarkDownEditor" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ZH_CN_Components" />
      <ComponentGroupRef Id="Dark_CSS_Components" />
      <ComponentGroupRef Id="Light_CSS_Components" />
      <ComponentRef Id="RegistryFileAssociation" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopFolderShortcut" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Icon Id="icon.ico" SourceFile="..\MarkDOwnEditor\MarkdownEditorLogo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="VCRedist" Title="Visual C++ 2013 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5"> <![CDATA[Installed OR NETFRAMEWORK45]]> </Condition>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MarkDownEditor" />
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]MarkDownEditor.exe" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MarkDownEditor">
          <Directory Id="ZH_CN_FOLDER" Name="zh-CN"></Directory>
          <Directory Id="CSS_FOLDER" Name="css">
            <Directory Id="LIGHT_CSS_FOLDER" Name="Light"/>
            <Directory Id="DARK_CSS_FOLDER" Name="Dark"/>            
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MarkDownEditor">
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryFileAssociation" Guid="{2CA21BE2-DFEF-4D92-B7EF-58D08C696BE9}">
        <RegistryKey Root="HKCR" Key=".md">
          <RegistryValue Type="string" Value="markdowneditor" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".markdown">
          <RegistryValue Type="string" Value="markdowneditor" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="markdowneditor\shell\open\command">
          <RegistryValue Type="string" Value='"[INSTALLFOLDER]MarkDownEditor.exe" "%1"' />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{7F0D7FDE-25C4-4AA0-9191-EDD3B882D664}">

        <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="MarkDownEditor"
                    Description="MarkDownEditor"
                    Target="[INSTALLFOLDER]MarkDownEditor.exe"
                    WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MarkDownEditor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="UninstallProduct"
                          Name="Uninstall"
                          Description="Uninstalls MarkDownEditor"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopFolderShortcut" Guid="{65EE8F22-656A-4D71-90F9-CDCAEF560F77}">
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder"   Name="MarkDownEditor" Target="[INSTALLFOLDER]MarkDownEditor.exe"  WorkingDirectory="INSTALLFOLDER">
        </Shortcut>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MarkDownEditor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLFOLDER">
      <Merge Id="VCRedist" SourceFile="Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="8a576ef8-df40-48f0-93b5-31f757029e1d">
        <File Id="ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.MarkDownEditor_TargetDir)ICSharpCode.AvalonEdit.dll" />
        <File Id="CefSharp.BrowserSubprocess.Core.dll" Name="CefSharp.BrowserSubprocess.Core.dll" Source="$(var.MarkDownEditor_TargetDir)CefSharp.BrowserSubprocess.Core.dll" />
        <File Id="CefSharp.Core.dll" Name="CefSharp.Core.dll" Source="$(var.MarkDownEditor_TargetDir)CefSharp.Core.dll" />
        <File Id="CefSharp.dll" Name="CefSharp.dll" Source="$(var.MarkDownEditor_TargetDir)CefSharp.dll" />
        <File Id="CefSharp.Wpf.dll" Name="CefSharp.Wpf.dll" Source="$(var.MarkDownEditor_TargetDir)CefSharp.Wpf.dll" />
        <File Id="d3dcompiler_43.dll" Name="d3dcompiler_43.dll" Source="$(var.MarkDownEditor_TargetDir)d3dcompiler_43.dll" />
        <File Id="d3dcompiler_47.dll" Name="d3dcompiler_47.dll" Source="$(var.MarkDownEditor_TargetDir)d3dcompiler_47.dll" />
        <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.MarkDownEditor_TargetDir)MahApps.Metro.dll" />
        <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.MarkDownEditor_TargetDir)GalaSoft.MvvmLight.dll" />
        <File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.MarkDownEditor_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
        <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.MarkDownEditor_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
        <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.MarkDownEditor_TargetDir)System.Windows.Interactivity.dll" />
        <File Id="Ude.dll" Name="Ude.dll" Source="$(var.MarkDownEditor_TargetDir)Ude.dll" />
        <File Id="Imgur.API.dll" Name="Imgur.API.dll" Source="$(var.MarkDownEditor_TargetDir)Imgur.API.dll" />
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.MarkDownEditor_TargetDir)Newtonsoft.Json.dll" />
        <File Id="SecretKey.dll" Name="SecretKey.dll" Source="$(var.MarkDownEditor_TargetDir)SecretKey.dll" />
        <File Id="Qiniu.4.0.dll" Name="Qiniu.4.0.dll" Source="$(var.MarkDownEditor_TargetDir)Qiniu.4.0.dll" />
        <File Id="WkHtmlToXDotNet.dll" Name="WkHtmlToXDotNet.dll" Source="$(var.MarkDownEditor_TargetDir)WkHtmlToXDotNet.dll" />
        <File Id="wkhtmltox.dll" Name="wkhtmltox.dll" Source="$(var.MarkDownEditor_TargetDir)wkhtmltox.dll" />

        <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.MarkDownEditor_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
        <File Id="libcef.dll" Name="libcef.dll" Source="$(var.MarkDownEditor_TargetDir)libcef.dll" />
        <File Id="libEGL.dll" Name="libEGL.dll" Source="$(var.MarkDownEditor_TargetDir)libEGL.dll" />
        <File Id="libGLESv2.dll" Name="libGLESv2.dll" Source="$(var.MarkDownEditor_TargetDir)libGLESv2.dll" />
        <File Id="widevinecdmadapter.dll" Name="widevinecdmadapter.dll" Source="$(var.MarkDownEditor_TargetDir)widevinecdmadapter.dll" />

        <File Id="MarkDownEditor.exe" Name="MarkDownEditor.exe" Source="$(var.MarkDownEditor_TargetDir)MarkDownEditor.exe" />
        <File Id="MarkDownEditor.exe.config" Name="MarkDownEditor.exe.config" Source="$(var.MarkDownEditor_TargetDir)MarkDownEditor.exe.config" />
        <File Id="CefSharp.BrowserSubprocess.exe" Name="CefSharp.BrowserSubprocess.exe" Source="$(var.MarkDownEditor_TargetDir)CefSharp.BrowserSubprocess.exe" />
        <File Id="pandoc.exe" Name="pandoc.exe" Source="$(var.MarkDownEditor_TargetDir)pandoc.exe" />

        <File Id="cef.pak" Name="cef.pak" Source="$(var.MarkDownEditor_TargetDir)cef.pak" />
        <File Id="cef_100_percent.pak" Name="cef_100_percent.pak" Source="$(var.MarkDownEditor_TargetDir)cef_100_percent.pak" />
        <File Id="cef_200_percent.pak" Name="cef_200_percent.pak" Source="$(var.MarkDownEditor_TargetDir)cef_200_percent.pak" />
        <File Id="cef_extensions.pak" Name="cef_extensions.pak" Source="$(var.MarkDownEditor_TargetDir)cef_extensions.pak" />
        <File Id="natives_blob.bin" Name="natives_blob.bin" Source="$(var.MarkDownEditor_TargetDir)natives_blob.bin" />
        <File Id="snapshot_blob.bin" Name="snapshot_blob.bin" Source="$(var.MarkDownEditor_TargetDir)snapshot_blob.bin" />
        <File Id="icudtl.dat" Name="icudtl.dat" Source="$(var.MarkDownEditor_TargetDir)icudtl.dat" />
        <File Id="xelatex.template" Name="xelatex.template" Source="$(var.MarkDownEditor_TargetDir)xelatex.template" />
        <Shortcut Id="UninstallProductInner"
                          Name="Uninstall"
                          Description="Uninstalls MarkDownEditor"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ZH_CN_Components" Directory="ZH_CN_FOLDER">
      <Component Id="ZH_CN_Component" Guid="{81460AA3-D569-4DA4-977B-BCC9383AD3E5}">
        <File Id="MarkDownEditor.resources.dll" Name="MarkDownEditor.resources.dll" Source="$(var.MarkDownEditor_TargetDir)zh-CN/MarkDownEditor.resources.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Light_CSS_Components" Directory="LIGHT_CSS_FOLDER">
      <Component Id="Light_CSS_Component" Guid="{CC66453B-BE1B-4599-B71D-7A1DF422B116}">
        <File Id="Air.css" Name="Air.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Air.css" />
        <File Id="Default.css" Name="Default.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Default.css" />
        <File Id="Github_andyferra.css" Name="Github_andyferra.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Github_andyferra.css" />
        <File Id="Modest.css" Name="Modest.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Modest.css" />
        <File Id="Simonlc.css" Name="Simonlc.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Simonlc.css" />
        <File Id="Splendor.css" Name="Splendor.css" Source="$(var.MarkDownEditor_TargetDir)css/Light/Splendor.css" />
      </Component>    
    </ComponentGroup>

    <ComponentGroup Id="Dark_CSS_Components" Directory="DARK_CSS_FOLDER">
      <Component Id="Dark_CSS_Component" Guid="{FA202CC1-E35A-4B1E-82F5-B260223B4B6F}">
        <File Id="Retro.css" Name="Retro.css" Source="$(var.MarkDownEditor_TargetDir)css/Dark/Retro.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>